<h1>Gerenciador de Conteúdo</h1>

<body>
	<div id="form">
		<header>
		<nav>
			<a href="http://localhost/trab-poo2/?pagina=admin&metodo=create">Criar Publicação</a><br><br>
		</nav>
		</header>
	</div>
</body>

<hr>

<hr>
<section>
    <h1>Publicações</h1>
    <article>
        <p><table border="2">
			<tr>
				<th>ID</th>
				<th>POSTAGEM</th>
				<th>ALTERAR</th>
				<th>DELETAR</th>
			</tr>
		
		
			{% for postagem in postagens %}
			<tr>
				<th>{{postagem.id}}</th>
				<th>{{postagem.titulo}}</th>
				<th><a href="http://localhost/trab-poo2/?pagina=admin&metodo=change&id={{postagem.id}}">Alterar</a></th>
				<th><a href="http://localhost/trab-poo2/?pagina=admin&metodo=delete&id={{postagem.id}}">Deletar</a></th>
			</tr>
			{% endfor %}
		
		</table></p>
    </article>
</section>



